{% set i = 1 %}
<style>
    table {
        border-collapse: collapse;
    }
    table td, table th {
        border: 1px solid #ccc;
        text-align: center;
        width: 90px;
        height: 40px;
    }
</style>
<table>
    <tr>
        <th>Понедельник</th>
        <th>Вторник</th>
        <th>Среда</th>
        <th>Четверг</th>
        <th>Пятница</th>
        <th>Суббота</th>
        <th>Воскресенье</th>
    </tr>
    <tr>
        {% if calendar.first > 1 %}
            {% for j in range(1,calendar.first - 1) %}
                <td></td>
            {% endfor %}
            {% for item in calendar.items %}
                <td>
                    {{ item.day }}
                </td>
                {% if item.weekday == 7 %}
                    </tr>
                    <tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if calendar.last < 7 %}
            {% for j in range(1,7 - calendar.last) %}
                <td></td>
            {% endfor %}
        {% endif %}
    </tr>
</table>
